
@model List<User>;


<h1>Gestion Utilisateur</h1>





<a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Add" role="button">Ajouter un Utilisateur</a>
<hr />

<h3>Liste des utilisateurs</h3>

<ul>
    @foreach(User u in @Model)
    {
        <li> @u.LastName @u.FirstName </li>
        <br />
        <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Read" asp-route-id="@u.ID" role="button">Voir</a>
        <a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="Update" asp-route-id="@u.ID" role="button">Editer</a>
        <a class="btn btn-danger" asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@u.ID" role="button">Supprimer</a>
        <hr />
    }
</ul>

