@model User


<a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Index" role="button">Retour</a>
<hr />
<h1>Details utilisateur</h1>

<ul>
    <li>ID : @Model.Id</li>
    <li>Prénom : @Model.FirstName</li>
    <li>Nom : @Model.LastName</li>
    <li>Email : @Model.Email</li>
@*    @if(Model.FavoriteMovie is not null)
    {
        <li>Films favoris : </li>
        <ol>
            @foreach(string movie in Model.FavoriteMovie)
            {
                <li>@movie</li>
            }
        </ol>
    }*@
</ul>
<a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="Update" asp-route-id="@Model.Id" role="button">Editer l'utilisateur</a>
<a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="UpdatePassword" asp-route-id="@Model.Id" role="button">Modifier le mot de passe</a>
<a class="btn btn-danger" asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" role="button">Supprimer</a>