@model UpdateUserDTO


<a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Index" role="button">Retour</a>
<hr />

@*<p>
    @Model.Id<br />
    @Model.LastName<br />
    @Model.FirstName<br />
    @Model.Email

</p>*@

<form method="post">
    <fieldset>
        <legend>Editer un utilisateur</legend>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" asp-for="LastName" id="lastName" value="@Model.LastName">
        </div>
        <div class="form-group">
            <label for="firstname">Prenom</label>
            <input type="text" class="form-control" asp-for="FirstName" id="firstname" value="@Model.FirstName">
        </div>
        <div class="form-group">
            <label for="mail">Email address</label>
            <input type="email" class="form-control" asp-for="Email" id="mail" aria-describedb="emailHelp" value="@Model.Email">
            <small id="emailHelp" class="form-text text-muted">Votre email ne sera votre identifiant de connexion.</small>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>